@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-rubik-glitch: "Rubik Glitch", system-ui;
  --font-montserrat: "Montserrat";
  --font-geom: "Geom"
}